
@font-face {
    font-family:Alimama ;
    src: url(./font/Alimama_ShuHeiTi_Bold.ttf);
  }

  @font-face {
    font-family:font2;
    src: url(./font/Alibaba_PuHuiTi_2.0_95_ExtraBold_95_ExtraBold.ttf);
  }


  

  /* 头部样式 */
  .header {
    background-color: white;
   
    height: 150px;
    margin: 0 auto;
    text-align: center;
  }
  
.png{
  float: left;
  padding-top: 10px;
  width: 70px;
}
.png a{
  font-family: font2;
  text-decoration: none;

}

  /* 导航条 */
  .nav{
  font-family: Alimama;
   height: 40px;
   background-color: #333;
   box-shadow: 0px 1px 2px #666;


}


*{
   margin: 0;
   padding: 0;
   text-decoration: none;
   list-style: none;


}


.libt{
    float: left;
    width: 100px;
    height: 40px;
    text-align: center;
    line-height: 40px;


}

.libt a{
   color:#f2f2f2;
   display: block;
   font-size: 17px;
   
}
.libt a:hover{
  background: #ccc;
}

.droplist{
  background: #333;
  box-shadow: 0px 1px 2px #666;
  display: none;
}
.droplist li{
  border-top: 1px solid #ccc;
}


.libt:hover .droplist{
  display: block;
}


.box1{
  float: left;
  width: 400px;
  
}
.box2{
  font-family: font2;
}
table{

  font-family: font2;
}

main{


  height: auto;
  margin: 0 auto;
}

.topbox{
  background-color: rgb(244, 244, 244);
  height: 80px;
}

.li1 a{
  float: left;
  padding-left: 40px;
  line-height: 80px;
  text-decoration: none;
  color: #333;
}

.li2 button{
  float: right;
  line-height: 30px;
  padding-right: 5px;
  margin-top: 20px;
  text-decoration: none;
  color: #333;
}
.li2 img{
   float: right;
  padding-top: 28px;
  padding-right: 10px;
}







            
            #div_body p {
                height: 40px;
                border: 1px solid #c0c0c0;
                line-height: 40px;
                text-align: center;
            }
            
            #div_body img {
                width: 18px;
                height: 18px;
                margin-top: 9px;
                float: right;
            }
            
            #div_body p:hover {
                background: #66b7f9;
                color: #ffffff;
            }
            
            .leftpage {
                height: 500px;
                background: #ffffff;
            }
            
            #adduse {
                display: none;
                width: 500px;
                height: 440px;
                border: 1px solid #c0c0c0;
                background: #ffffff;
                position: absolute;
                left: 35%;
                top: 20%;
            }
            
            #adduse p {
                padding-left: 15px;
            }
            
            .addusep {
                background: #f2f2f2;
                height: 30px;
                line-height: 30px;
                padding-left: 5px;
            }
            
            #adduse p:nth-child(2) {
                padding-top: 25px;
            }
            
            #adduse p:nth-child(6) {
                padding-bottom: 25px;
            }

            .error{
              color: red;
            }
            
            #cancle {
                margin-left: 66px;
                background: green;
                color: #ffffff;
                border: none;
                width: 60px;
                height: 30px;
            } 
            
             #save {
                margin-left: 36px;
                background: green;
                color: #ffffff;
                border: none;
                width: 80px;
                height: 30px;
            } 








h3{
  font-family: Alimama;
  text-align: center;
  text-decoration: none;
}
.link{
  text-decoration: none;
}

img{
  display: block;
  margin: 0 auto;
}

.comment{
  display: flex;
  padding-top: 30px;
  padding-bottom: 20px;
  border-bottom: #ccc 1px solid;

}





.commentcontent{

  display: block;
 
  padding-left: 25px;
    
 width: 90%;



}





.content{
  color: black;
}



.user{
  padding-right: 20px;
  border-right: 1px solid #ccc;
}

.usermes img{
  padding-left: 10px;
  width: 68px;
}
.usermes p{
  padding-left: 10px;
  text-align: center;
  color:black ;
}

.userid,.date,.grade{
  padding-left: 20px;
  color: black;
}

.DEL{
  float: right;
  padding-right:10px;
}



.footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
  font-family: font2;
  }
